/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
      background-size: 1500px 1500px;
      background-image: url(https://wallpaperscraft.com/image/background_wall_brick_side_76611_5802x4049.jpg);
    }
    body {
       height: 100%;
    }

    header {
        background-color:#51a2e6;
        padding:10px;
        font-size: ;
        display: block;
        width: 790px;
        border: 5px solid black;
        margin: 50px;
    }
    nav {
        line-height:;
        background-color:#51a2e6;
        width:200px;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        border: 2px solid black;
    }
    nav ul {
        list-style-type: none;
    }
    a {
        color: ;
    }
    section {
        width: 516px;
        display: inline-block;
        background-color: #51a2e6;
        border: 2px solid red;
    }
    aside {
      width: 125px;
      display: inline-block;
      vertical-align: top;
      background-color:;
      font-size: ;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 200px;
        background-color: white;
        text-align:;
        padding:5px;
        display: block;
    }

